<!DOCTYPE html>
<html lang="es">
<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    {% block extracss %}
    {% endblock %}

    <title>{% block titulov %} {% endblock %}</title>
</head>
<body>
    {% block contenido %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">&copy; Curso Flask 2017</p>
            </div>
        </div>
    </footer>

    <!-- <img src="{{ url_for('static', filename='img/0lq1F5G.png') }}"> -->
    {% block extrajs %}
    {% endblock %}
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
</body>
</html>